---
//import { Icon } from 'astro-icon';
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="pb-12 md:pb-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<div class="">
					<div class="flex items-center full-w dark:bg-gray-900">
						<div class="container mx-auto">
							<div class="full-w mx-auto mb-10 p-5 rounded-md shadow-sm">
								<div class="text-start">
									<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
										Fill up the form below to send a message.
									</p>
								</div>
								<div class="m-7 text-left">
									<form
										action="https://api.web3forms.com/submit"
										method="POST"
										id="form"
										aria-label="Form to contact Greg"
									>
										<input type="hidden" name="access_key" value="265c80e5-65cc-4009-b5c9-679a78f4895f" />
										<input type="hidden" name="subject" value="New message from Shrinkraylabs Form" />
										<input type="hidden" name="redirect" value="https://web3forms.com/success" />
										<input type="checkbox" name="botcheck" id="" style="display: none;" />
										<div class="mb-6">
											<label for="name" class="block mb-2 text-md text-gray-600 dark:text-slate-400">Full name</label>
											<input
												type="text"
												name="name"
												id="name"
												placeholder="John Doe"
												required
												class="w-full px-3 py-2 bg-gray-100 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:placeholder-gray-300 dark:bg-gray-800 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
											/>
										</div>
										<div class="mb-6">
											<label for="email" class="block mb-2 text-md text-gray-600 dark:text-slate-400"
												>Email address</label
											>
											<input
												type="email"
												name="email"
												id="email"
												placeholder="you@company.com"
												required
												class="w-full px-3 py-2 bg-gray-100 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:placeholder-gray-300 dark:bg-gray-800 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
											/>
										</div>
										<div class="mb-6">
											<label for="phone" class="block mb-2 text-md text-gray-600 dark:text-slate-400"
												>Phone number (optional)</label
											>
											<input
												type="text"
												name="phone"
												id="phone"
												placeholder="+1 (555) 123-4567"
												class="w-full px-3 py-2 bg-gray-100 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:placeholder-gray-300 dark:bg-gray-800 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
											/>
										</div>
										<div class="mb-6">
											<label for="message" class="block mb-2 text-md text-gray-600 dark:text-slate-400"
												>Your message</label
											>

											<textarea
												rows="5"
												name="message"
												id="message"
												placeholder="Your Message"
												class="w-full px-3 py-2 bg-gray-100 placeholder-gray-500 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:placeholder-gray-300 dark:bg-gray-800 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"
												required></textarea>
										</div>
										<div class="mb-6">
											<button
												type="submit"
												class="w-full px-3 py-4 text-white bg-gradient-to-br from-primary-500 to-secondary-500 dark:from-primary-300 dark:to-secondary-300 rounded-md focus:bg-indigo-600 focus:outline-none dark:text-slate-900"
											>
												Send Message
											</button>
										</div>
										<p class="text-base text-center text-gray-400" id="result"></p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
