---
// import { Icon } from 'astro-icon';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="pb-8 md:py-8">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
								How I started
							</h2>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								I work in the field of User Experience Engineering. Starting out, my professional career aspirations led me to develop software training for Compuware. Later I was intrigued by Flash working in the field of marketing and promotion. Then transitioned to build eCommerce websites on the web. As a consultant, I have seven years experience. Over the past two years I've focused honing skills in Node frameworks and libraries building production and speculative websites. 
							</p>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">I am excited to be a part of this incredible industry. I love building UI interfaces for applications. I value the clarity of writing and communication in technical documentation. For fun I give talks on accessibility and UX Engineering topics to various meetups in Southeast Michigan and Ohio regions.</p>
							<h3 class="mb-4 mt-14 text-2xl lg:text-3xl font-bold font-heading">What I Am Learning</h3>

							<p ></p>
							<ul class="space-y-8">
								<li><h4>Sara Soueidan: Accessibility (new)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://practical-accessibility.today/" target="_blank">Your Practical Accessibility Course</a>
								<p>I purchased a pre-release for the course, it should be out later this year. I am excited about her coverage of forms, images notifications. The course attacks knowledge and usage from two different angles. Theoretical chapters are essential for knowledge where I will gain a deep understanding of each practice. Second I will learn to build common UI patterns step by step utilizing the knowledge.</p></li>
								<li><h4>Kevin Powell: Design Systems (2022)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://complete.beyondcss.dev/" target="_blank">Beyond {}﹛CSS﹜</a>
								<p>While I have several years experience with SCSS, this course provided a great review. In anticipated chapters, Powell will explore the Design System. I am excited to begin those chapters.</p></li>

								</ul>



<h3 class="mb-4 mt-14 text-2xl lg:text-3xl font-bold font-heading">Completed Tutorials</h3>

								<ul class="space-y-8">
									<li><h4>Deque University (Completed 2022)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://dequeuniversity.com/curriculum/courses/fundamentals" target="_blank">Accessibility Fundamentals: Disabilities, Guidelines, and Laws</a>
								</li>
								<li><h4>Colby Fayock Course on Level Up Tutorials (Completed 2021)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://shrinkray-ecommerce-app.netlify.app/" target="_blank">NextJS + Headless WordPress + SnipCart</a>
								<p>This is intended to be a Mario Bros. trading card store. Order process is secured with SnipCart. I created a new products post type and built page templates with Advanced Custom Fields (ACF). Content is added via ACF in the backend, and exposed to our NextJS frontend with WPGraphQL. The WordPress endpoint is found <a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 " href="https://hyper.gregmiller.tech/" target="_blank">here</a>.</p></li>
								<li><h4>Alex Patterson on YouTube (Completed 2021)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://shrinkray-lab-blog.vercel.app/" target="_blank">Sveltekit + GraphCMS - Shrinkray Lab Blog</a>
								<p>I borrowed the DaisyUI theme switcher idea (top right corner) from this site to use in the University of Michigan ICPSR component library. GraphCMS is now known as HyGraph.</p></li>
							</ul>


							
							<div class="w-full">
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">UX Design</h3>
									<p class="text-gray-500 dark:text-gray-400">
										My first work on the web was in design. When I learned about media queries and building responsive sites
										I was drawn to this work. And then went to work to draw, first in notebooks and later in tools like Sketch and Figma. Today we take a different angle, using design thinking to extract the key demands for designs. Then the work is created and organized into Design Systems made to set limitations around the work and make it reapeatable.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">UX Engineering</h3>
									<p class="text-gray-500 dark:text-gray-400">
										This role excites me. I've been involved in UX for many years and now am narrowly focused on the role. As an engineer, I solve UX and UI problems working from the front of the frontend as well as diving into a fullstack role. I eagerly enjoy supporting and engaging with DevOps, and Fullstack Engineers. It is something I've had the fortune to work in for several years and am comfortable working through technical issues to deliver design systems and technical documentaton for applications.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">WordPress Developer & Host</h3>
									<p class="text-gray-500 dark:text-gray-400">
										In this role, I supplement teams working on WordPress PHP custom features, web performance, user experience, and other tasks. I enjoy working in JavaScript but I admit I miss working in PHP too. For a few customers I manage a DigitalOcean Ubuntu box and support custom UI and code.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										4</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Giving Back</h3>
								
									<ul class="space-y-8">
	<li>
		<h4><a href="https://gdg.community.dev/gdg-toledo-1/" class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" target="_blank">Google Developer Group</a></h4>
		<p class="text-gray-500 dark:text-gray-400">Organizer & Speaker</p>
		<p class="text-gray-500 dark:text-gray-400" >We're excited about the future of this group. We have several talks and networking events planned for 2023.</p>
	</li>
	
</ul>

<h3 class="mb-4 mt-14 text-2xl lg:text-3xl font-bold font-heading">Side Projects</h3>

							<p></p>
							<ul class="space-y-8">
								<li><h4>Brand logo design (2021)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://linguafonica.com/" target="_blank">Logo Design - Lingua Fonica</a><p></p></li>
								<li><h4>Speculative site (2021)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://doctor-detail.vercel.app/" target="_blank">Svelte + Tailwind CSS - Car Detailing</a><p>This was an early test building with a Svelte Template and Tailwind CSS. This was produced quickly in a day. The hardest part was finding suitable images on Unsplash.</p></li>
								<li><h4>AlgoLift Blog (2020)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://ghost.org/" target="_blank">Ghost CMS + Netlify</a><p>A developer working in my coworking space asked for help converting a static site with blog posts hosted on Medium into a CMS. I presented several, and Ghost was selected. Medium posts have to be exported to WordPress before they can be extracted into a JSON form accepted by Ghost. Shortly after completing this, <a href="https://venturebeat.com/business/vungle-acquires-algolift-mobile-ad-marketing-intelligence-firm/" class="" target="_blank">Vungle</a> acquired AlgoLift and the blog is no longer public.</p></li>
							</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
