---
// import { Icon } from 'astro-icon';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-12">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">
								Areas I consult
							</h2>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								I work in the field of User Experience Engineering. I started my professional career developing online training for CD-ROMs. Later transitioning to building marketing and eCommerce websites on the web. I have seven years experience consulting. Over the past two years I've focused honing skills in Node frameworks and libraries building speculative websites while mastering the toolset.
							</p>


							<h3 class="mb-4 text-2xl lg:text-3xl font-bold font-heading">What I Am Learning</h3>

							<p></p>
							<ul class="space-y-8">
								<li><h4>Sara Soueidan: Accessibility (new)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://practical-accessibility.today/" target="_blank">Your Practical Accessibility Course</a>
								</li>
								<li><h4>Kevin Powell: Design Systems (2022)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://complete.beyondcss.dev/" target="_blank">Beyond CSS</a>
								</li>
								<li><h4>Colby Fayock Course on Level Up Tutorials (2021)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://shrinkray-ecommerce-app.netlify.app/" target="_blank">NextJS + Headless WordPress + SnipCart</a>
								</li>
								<li><h4>Alex Patterson on YouTube (2021)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://shrinkray-lab-blog.vercel.app/" target="_blank">Sveltekit + GraphCMS - Shrinkray Lab Blog</a>
								</li>
							</ul>

							
							<h3 class="mb-4 mt-14 text-2xl lg:text-3xl font-bold font-heading">Side Projects</h3>

							<p></p>
							<ul class="space-y-8">
								<li><h4>Brand logo design (2021)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://linguafonica.com/" target="_blank">Logo Design - Lingua Fonica</a></li>
								<li><h4>Speculative site (2021)</h4><a class="text-sky-600 dark:text-sky-500 hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200 text-xl" href="https://doctor-detail.vercel.app/" target="_blank">Svelte + Tailwind Car Detailing</a></li>
							</ul>
							<div class="w-full">
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">UX Design</h3>
									<p class="text-gray-500 dark:text-gray-400">
										My first work on the web was in design. When I learned about media queries and building responsive sites
										I was drawn to this work. And then went to work to draw, first in notebooks and later in tools like Sketch and Figma. Today we take a different angle, using design thinking to extract the key demands for designs. Then the work is created and organized into Design Systems made to set limitations around the work and make it reapeatable.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">UX Engineering</h3>
									<p class="text-gray-500 dark:text-gray-400">
										This is the latest role to excite me. I've been involved in UX for many years but never as a narrowly focused role. As an engineer, I solve UX and UI problems working from the front of the frontend and into a fullstack role, working with DevOps, Fullstack Engineers. It is something I've had the fortune to work in for several years and am comfortable diving in and working through technical issues to deliver design systems for applications.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">WordPress Developer & Host</h3>
									<p class="text-gray-500 dark:text-gray-400">
										In this role, I supplement teams working on WordPress PHP custom features. I enjoy working in JavaScript but I admit I miss working in PHP too. For a few customers I will support custom code.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
