---
// import { Icon } from 'astro-icon';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="pb-8 md:pb-8">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">Areas I consult</h2>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								I specialize in UX Engineering with skills touching UX and UI Design, Interactive Prototypes, Semantic
								HTML and Accessibility. In the frontend I enjoy building in platforms with a strong developer experience
								such as Astro JS, Svelte, and Next JS. I loosely do some work in the fullstack realm, but most
								experience is on the front.
							</p>
							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								Like many, my background in web design and development started in WordPress where I still support sites.
								There I specialized in customizing and building bespoke themes. It was in WordPress where I developed a
								love of Core Web Vitals and how to get the best performance out of the website.
							</p>

							<div class="w-full"></div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">UX Design</h3>
									<p class="text-gray-500 dark:text-gray-400">
										My first work on the web was in design. When I learned about media queries and building responsive
										sites I was drawn to this work. And then went to work to draw, first in notebooks and later in tools
										like Sketch and Figma. Today we take a different angle, using design thinking to extract the key
										demands for designs. Then the work is created and organized into Design Systems made to set
										limitations around the work and make it reapeatable.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">UX Engineering</h3>
									<p class="text-gray-500 dark:text-gray-400">
										This is the latest role to excite me. I've been involved in UX for many years but never as a
										narrowly focused role. As an engineer, I solve UX and UI problems working from the front of the
										frontend and into a fullstack role, working with DevOps, Fullstack Engineers. It is something I've
										had the fortune to work in for several years and am comfortable diving in and working through
										technical issues to deliver design systems for applications.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">WordPress Developer & Host</h3>
									<p class="text-gray-500 dark:text-gray-400">
										In this role, I supplement teams working on WordPress PHP custom features. I enjoy working in
										JavaScript but I admit I miss working in PHP too. For a few customers I will support custom code.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
