---
import { Icon } from 'astro-icon';
import Logo from '~/components/atoms/Logo.astro';
import { getPermalink, getBlogPermalink, getHomePermalink } from '~/utils/permalinks';
---
<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
			<div class="col-span-12 lg:col-span-5">
				<div class="mb-2">
					
					<a class="flex font-bold text-xl" href={getHomePermalink()}><Logo /></a>
				</div>
				<div class="text-sm text-gray-600">
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="#"></a
					>Terms ·
					<a
						class="text-gray-600 hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
						href="#"></a
					>Privacy Policy
				</div>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Solutions</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							></a> What might we build?
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href="#"
							></a
						>Frameworks & UI
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Support</div>
				<ul class="text-sm">
					<!-- <li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href={getPermalink('services', 'page')}>Services</a
						>
					</li> -->
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href={getPermalink('contact', 'page')}>Contact Greg</a
						>
					</li>
				</ul>
			</div>
			<div class="col-span-6 md:col-span-3 lg:col-span-2">
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Company</div>
				<ul class="text-sm">
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href={getPermalink('about', 'page')}
							>About</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href={getPermalink('projects', 'page')}
							>Projects</a
						>
					</li>
					<li class="mb-2">
						<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href={getBlogPermalink()}
							>Articles</a
						>
					</li>
					<!-- <li class="mb-2">
							<a class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out" href={getPermalink('useful-resources-to-create-websites', 'post')}
								>Uses</a
							>
					</li> -->
				</ul>
			</div>
		</div>
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Twitter"
						href="https://twitter.com/grmiller"
					>
						<Icon name="tabler:brand-twitter" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Mastodon"
						href="https://uiuxdev.social/web/@shrinkray"
					>
						<svg class="w-5 h-5" viewBox="0 0 24 24" fill="none">

<path d="M21.2969 8.39578C21.2969 3.83953 18.3105 2.5036 18.3105 2.5036C15.3798 1.15828 7.59672 1.17235 4.69422 2.5036C4.69422 2.5036 1.70734 3.83953 1.70734 8.39578C1.70734 13.8192 1.39797 20.5552 6.65875 21.9473C8.55766 22.4489 10.1894 22.5567 11.5023 22.4817C13.8841 22.3505 15.2205 21.6333 15.2205 21.6333L15.1408 19.9036C15.1408 19.9036 13.4388 20.438 11.5258 20.377C9.63156 20.3114 7.63516 20.1708 7.32438 17.8458C7.29556 17.6298 7.28147 17.4121 7.28219 17.1942C11.2961 18.1739 14.7189 17.6208 15.6611 17.5083C18.2917 17.1942 20.583 15.5723 20.875 14.0911C21.3344 11.7567 21.2969 8.39578 21.2969 8.39578Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
<path d="M7.5 14.5H5V9.5C4.83333 8.49999 5.2751 4.99996 8.5 5C10 5.00002 10.5 5.49995 11.5 6.99997C11.5 6.99997 12.5 5.00003 15 5C17.0396 4.99997 18 7.5 18 9.49997V14.5H15.5V9.49997C15.5 9.16663 15.5 7.5 14 7.5C12.5 7.5 12.5 9.16663 12.5 9.49997V12.5H10V9.49997C10 8.99997 10 7.5 8.5 7.5C7.7 7.5 7.5 9.16667 7.5 9.5V14.5Z" fill="currentColor" stroke-width="0"/>
</svg>
					</a>
				</li>
			
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Github"
						href="https://github.com/shrinkray/"
					>
						<Icon name="tabler:brand-github" class="w-5 h-5" />
					</a>
				</li>
			</ul>
			<div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
				<span
					class="w-5 h-5 md:w-6 md:h-6 md:-mt-0.5 bg-cover mr-1.5 float-left rounded-sm bg-[url(https://onwidget.com/favicon/favicon-32x32.png)]"
				>
				</span>
				Made by <a class="text-blue-600 hover:underline dark:text-gray-200" href="https://onwidget.com/"> onWidget</a> ·
				All rights reserved.
			</div>
		</div>
	</div>
</footer>
