---
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-6">
			<div class="text-center pb-10 md:pb-6">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 dark:from-primary-300 dark:to-secondary-300">Shrinkray Labs</span
					>
				</h1>
				<div class="max-w-3xl mx-auto pb-10 md:pb-6">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400 mb-4">
						Shrinkray Labs is a portfolio and blog by Greg Miller, owner of Shrinkray Interactive, LLC. I am focused on inclusive design to build a better web for everyone.
					<span class="inline sm:hidden">...</span><p
							class="hidden sm:inline text-lg"
							>🔧 Hello, everyone! I'm passionate about creating an inclusive and fair digital landscape, where the implementation and utilization of technology are carefully orchestrated without ambiguity. With a broad range of interests, I actively contribute to teams and organize tech events in the vibrant Toledo Region.</p
						>
					</p>
				</div>
			</div>
			<div class="">
				<div class="relative w-full rounded bg-[url('~/assets/images/uxsketchbook-1200.jpg')] bg-center bg-no-repeat  flex lg:justify-center">
					<div class="pl-4 flex flex-col basis-6/7 sm:basis-1/2 justify-center space-around text-gray-800">
						<h2 class="font-extrabold text-4xl lg:text-6xl">UX Engineer & Accessiblity Dev</h2><p class="lg:text-4xl">Builder of web UI</p>
					</div>
					<Picture id="hero-image"
						src={import('~/assets/images/avatar-black-gm.png')}
						class="basis-1/6 mr-9 sm:mr-0 lg:basis-1/2 "
						widths={[500, 500]}
						sizes=" (max-width: 600px) 900px, 768px"
						alt="Hero Image"
						aspectRatio="1:1"
					/>
				</div>
				<div class="max-w-3xl mx-auto py-12 md:py-10 flex flex-col gap-y-4 ">
					<p class="">One of my primary areas of focus revolves around championing an equitable web. I believe that the online space should be accessible and navigable for all individuals, regardless of their background or abilities. By advocating for inclusive design practices, I strive to eliminate barriers and ensure that every user can engage with digital platforms effortlessly.</p>
					<p class="">If you share a passion for building an equitable web and believe in the power of purposeful design, I invite you to join me on this journey. Let's collaborate, exchange ideas, and work towards creating a digital world that embraces diversity, accessibility, and innovation.

✨ Together, we can make a meaningful impact and shape the future of technology in the Toledo Region and beyond. ✨</p>
				</div>
			</div>
		</div>
	</div>
</section>
