---
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 dark:from-primary-300 dark:to-secondary-300">Shrinkray Labs</span
					>
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400 mb-4">
						Shrinkray Labs is a portfolio and blog by Greg Miller, owner of Shrinkray Interactive, LLC. I am focused on inclusive design to build a better web for everyone.
					<span class="inline sm:hidden">...</span><h2
							class="hidden sm:inline text-lg"
							>My areas of interest are broad. I am for building an equitable web and getting the design right where its implementation and use are planned with no ambiguity. I am a proactive member of teams and tech event organizer for the Toledo GDG.</h2
						>
					</p>
				</div>
			</div>
			<div class="overflow-visible ">
				<div class="relative w-full rounded bg-[url('~/assets/images/uxsketchbook-1200.jpg')] bg-center p-5">
					<Picture
						src={import('~/assets/images/greg-iso-crop.png')}
						class=" rounded-full bg-secondary-800/50 shadow-lg mx-auto sm:ml-0"
						widths={[200, 200]}
						sizes=" (max-width: 300px) 400px, 768px"
						alt="Hero Image"
						aspectRatio="1:1"
					/>
				</div>
				<div class=""></div>
			</div>
		</div>
	</div>
</section>
