---
---

<img class="h-8 w-auto sm:h-10" src="/src/assets/images/labs-logo.svg" alt="Script SL logo for Shrinkray Labs with a sky to violet gradient fill pattern">

<span class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
 Shrinkray Labs</span>
